/* */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {background-color: #d9dcd6; margin: 10px;}

p{font-size: 18px;}

.topheader {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.topheader h1 {
    display: inline-block;
    font-size: 48px;
    width: 25%; /**/
}

.topheader h1 .seo {color: #d9dcd6;}

.topnav { 
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.topnav a{
    float: left;
    display: block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

    .hero {
        position: relative;
        top: 5px;
        background: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.content {
    max-width: 70%;
    display: inline-block;
}

.float-left {float: left;}
.float-right {float: right;}

/*when screen size is bigger then 873 px*/
@media only screen and (min-width: 873px) {
    #search-engine-optimization {height: 300px;}
    #online-reputation-management {height: 310px;}
    #social-media-marketing {height: 300px;}
    .hero{height: 80vh;}
    .content{max-width: 75%;}
   }

   #search-engine-optimization,#online-reputation-management,#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.resetimages{max-height: 200px;max-width: 100%;}
.paragraph{position: relative; left: 5px;}
.contentheadingsize{margin-bottom: 20px; font-size: 36px;}
.asideheadingsize{margin-bottom: 10px; text-align: center;}


.benefits {
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   /* background-color: #2589bd;*/
   background-color: #0070bb;
}

#benefit-lead, #benefit-brand, #benefit-cost{margin-bottom: 32px; color: #ffffff;}

#bottomfooter{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#bottomheading{font-size: 20px;}






